<div>
  <ul class="nav nav-tabs justify-content-center">
    <li><a id="content-title1" href="/my-courses/learning" class="btn btn-warning">Tất cả khóa học</a></li>
    <li><a id="content-title2" href="/my-courses/lists" class="btn btn-warning">Danh
        sách của tôi</a></li>
    <li><a id="content-title3" href="/my-courses/watchlist" class="btn btn-warning">Danh
        sách yêu thích</a></li>
    <li><a id="content-title4" href="/my-courses/archived" class="btn btn-warning">Đã
        lưu trữ</a></li>
  </ul>
</div>