<div class="nav-header">
  <a href="/admin" class="brand-logo">
    <img class="logo-abbr" src="video/image/logo-white.png" alt="">
    <img class="logo-compact" src="/video/image/logo-text-white.png" alt="">
    <img class="brand-title" src="/video/image/logo-text-white.png" alt="">
  </a>
</div>