<div class="dlabnav">
  <div class="dlabnav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label first">Main Menu</li>
      <li><a href="/admin">
          <i class="la la-home"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin/lecturer/all" aria-expanded="false">
          <i class="la la-user"></i>
          <span class="nav-text">Lecturers</span>
        </a>
      </li>
      <li><a href="/admin/student/all" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Students</span>
        </a>
      </li>
      <li>
        <a href="/admin/course/all">
          <i class="la la-graduation-cap"></i>
          <span class="nav-text">Courses</span>
        </a>
      </li>
    </ul>
  </div>
</div>