{{>main-carousel}}
<div class="" style="margin-top:100px">
    <p id="title-tabs">A broad selection of courses</p>
    <p id="title-tabs-detail">Choose from 213,000 online video courses with new additions published every month</p>

    <ul class="nav nav-tabs justify-content-center">
        <li><a data-toggle="tab" href="#home" class="active">Home</a></li>
        <li><a data-toggle="tab" href="#menu1" style="padding-left: 50px;">Web</a></li>
        <li><a data-toggle="tab" href="#menu2" style="padding-left: 50px;">Mobile</a></li>
    </ul>
    <div class=" border border-dark" style="height: 620px;">
        <div class="tab-content " style="margin: 20px;font-weight:600;font-size: 18px;">
            <div id="home" class="tab-pane active  ">
                <div style="margin-bottom: -20px;font-weight:700;font-size: 18px;" class="pt-4">
                   <div style="height: 100px;">
                    <p id="title-tabs-detail-nametabs"
                        style="font-size: 18px font-weight:700;font-size: 18px;;font-weight: 600; margin-left: 70px">
                        Build websites and applications with Web Development</p>
                    <p id="title-tabs-detail-nametabs-content"
                        style="font-size: 14px ;font-weight: 400; margin-left: 70px">Buildwebsites and applications with
                        Web Development</p>
                    </div>
                </div>
                {{>multi-carousel}}
            </div>

            <div id="menu1" class="tab-pane fade">
                <div style="margin-bottom: -20px;font-weight:700;font-size: 18px;" class="pt-4">
                    <p id="title-tabs-detail-nametabs"
                        style="font-size: 18px font-weight:700;font-size: 18px;;font-weight: 600; margin-bottom: 0">
                        Build
                        websites and applications with Web Development</p>
                </div>
                {{>multi-carousel}}
            </div>

            <div id="menu2" class="tab-pane fade">
                {{>multi-carousel}}
            </div>

        </div>
    </div>
</div>
{{!-- <div class="container-fluid d-flex justify-content-center "
    style="margin-top:100px;background-color: gray;height: 100px;">
    <div class="d-flex justify-content-center" style="width: 1800px;height: 100px">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4 " ;>
                <div class="d-flex justify-content-center align-items-center" style="width:400px;height:100px">
                    <i class="fa-solid fa-play"></i>
                    <p class="" style="margin: 20px;font-weight:700;font-size: 18px;">Choose courses taught by
                        real-world experts</p>
                </div>
            </div>
            <div class="col col-lg-4" ;style="width:200px">
                <div class="d-flex justify-content-center align-items-center" style="width:400px;height:100px">
                    <i class="fa-solid fa-school"></i>
                    <p class="" style="margin: 20px;font-weight:700;font-size: 18px;">Choose courses taught by
                        real-world experts</p>
                </div>

            </div>
            <div class="col col-lg-4" ;style="width:200px">
                <div class="d-flex justify-content-center align-items-center" style="width:400px;height:100px">
                    <i class="fa-solid fa-mobile"></i>
                    <p class="" style="margin: 20px;font-weight:700;font-size: 18px;">Learn at your own pace, with
                        lifetime access on mobile and desktop</p>
                </div>
            </div>
        </div>

    </div>
</div> --}}


<div class="container">
    {{>topCoursesInWeek}}
</div>
{{>listCatery}}
<div class="container">
    {{>multi-carousel}}
</div>

<div class="container">
    {{>multi-carousel}}
</div>

<div class="container">
    {{>multi-carousel}}
</div>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
        font-size: 18px;
    }

    .nav nav-tabs {
        color: red;
    }

    li a.active {
        color: black;
        font-weight: 800;
        font-size: 23px;
    }

    a {
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    #title-tabs {

        font-size: 25px;
        font-weight: 800;
    }

    ,
    #title-tabs-detail {
        font-size: 16px;
        font-weight: 400;
    }

    ,
    #title-tabs-detail-nametabs {
        font-size: 18px;
        font-weight: 700;
        font-size: 18px;
        font-weight: 600;
    }

    ,
    #title-tabs-detail-nametabs-detail {
        font-size: 16px;
        font-weight: 400;
    }

    ,
</style>