<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white">
   <!-- Section: Social media -->
   <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
   >
      <!-- Facebook -->
      <div class="me-5 d-none d-lg-block">
         <span>Kết nối với chúng tôi trên mạng xã hội:</span>
      </div>
      <div>
         <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
            role="button"
         ><i class="fab fa-facebook-f"></i></a>

         <!-- Twitter -->
         <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
            role="button"
         ><i class="fab fa-twitter"></i></a>

         <!-- Google -->
         <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
            role="button"
         ><i class="fab fa-google"></i></a>

         <!-- Instagram -->
         <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
            role="button"
         ><i class="fab fa-instagram"></i></a>

         <!-- Linkedin -->
      </div>
   </section>
   <!-- Section: Social media -->
   <!-- Section: Links  -->
   <section class="">
      <div class="container text-center text-md-start mt-5">
         <!-- Grid row -->
         <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               <!-- Content -->
               <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Fast Food
               </h6>
               <p>
                 Công ty TNHH Fast Food <br>
                Mã số doanh nghiệp: 0312650437<br>
                Đại diện pháp luật: Phát Thịnh<br>
                Chức vụ: Giám Đốc Điều Hành<br>
               </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                  Đối tác 
               </h6>
               <p>
                  <a href="https://burgerking.vn/menu.html" class="text-reset">Burger King</a>
               </p>
               <p>
                  <a href="https://riviu.vn/king-beef---mon-ngon-tu-bo" class="text-reset">King Beef</a>
               </p>
               <p>
                  <a href="https://kfcvietnam.com.vn/" class="text-reset">KFC</a>
               </p>
               <p>
                  <a href="https://jollibee.com.vn/" class="text-reset">Jollibee</a>
               </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                  Liên kết hữu ích
               </h6>
               <p>
                  <a href="#!" class="text-reset">Đăng nhập</a>
               </p>
               <p>
                  <a href="#!" class="text-reset">Đăng kí khách hàng</a>
               </p>
               <p>
                  <a href="#!" class="text-reset">Đặt món</a>
               </p>
               <p>
                  <a href="#!" class="text-reset">Giúp đỡ</a>
               </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
               <p><i class="fas fa-home me-3"></i> HCMUS, HCM 10012, Việt Nam</p>
               <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
               </p>
               <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
               <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
         </div>
         <!-- Grid row -->
      </div>
   </section>
   <!-- Section: Links  -->

   <!-- Copyright -->
   <div class="text-center p-4">
      Fast Food
      <a
         class="text-reset fw-bold"
         href="https://mdbootstrap.com/"
      >2021-2022</a>
   </div>
   <!-- Copyright -->
</footer>
<!-- Footer -->