

<nav class="navbar navbar-expand-lg navbar-dark bg-white" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; width: 100%; padding-left: 70px; padding-right: 70px;">
  
  <a class="navbar-brand" href="#" style="color: black;"><i class="fa-sharp fa-solid fa-house" style="padding-right: 20px;"></i> Academic</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     
     
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/user/logout">Log Out</a>
      </li> --}}
      
    </ul>
  </div>

  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/login" style="color: black;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/register" style="color: black;">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/user/register" style="color: black;"><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


