<nav class="navbar navbar-expand-lg navbar-light bg-light"
  style="box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; width: 100%;">
  <a class="navbar-brand" href="/"><i class="fa-solid fa-house"
      style="color: orange; padding-right: 10px;"></i>Academic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle hidden-list" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu IT-Menu form-control" aria-labelledby="navbarDropdown"
          style="height: 594px; width: 200px; position:absolute; right: 50px;">
          <a class="dropdown-item" href="#" style="font-weight: bold;">
            IT <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
          </a>
          <a class="dropdown-item" href="#" style="font-weight: bold;">
            Design <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
          </a>
          <a class="dropdown-item hidden-list" href="#" style="font-weight: bold;">
            Economic <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
          </a>
          <a class="dropdown-item hidden-list" href="#" style="font-weight: bold;">
            Financial <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
          </a>
          <a class="dropdown-item hidden-list" href="#" style="font-weight: bold;">
            Development <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
          </a>
          <ul class="dropdown-menu dropdown-submenu menu-responsive"
            style="height: 594px; width: 200px; border-left: 1px solid #CED4DA;">
            <li class="dropdown-menu-item" style="border-left: 1px solid #CED4DA;">
              <a class="dropdown-item hover-list" href="#" style="font-weight: bold;">Web

                <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>
              </a>

              <div class="list-group dropdown-submenu show-list" style="height: 300px; width: 200px;">
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; border-top: 1px solid #CED4DA; ">ReactJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">Bootstrap 5</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; ">NodeJS</a>

                <a href="#" class="list-group-item list-group-item-action"
                  style="height: 52%;  border-color: white;border-left: 1px solid #CED4DA; border-bottom: 1px solid #CED4DA;">VueJS</a>
              </div>
            </li>
            <li class="dropdown-menu-item" style="height: 500px;">
              <a class="dropdown-item hover-list-mobile" href="#" style="font-weight: bold;">Mobile
                <i class="fa-sharp fa-solid fa-angle-right" style="float: right; padding-top: 5px;"></i>

              </a>
              <div class="list-group dropdown-submenu show-list-mobile" style="height: 300px; width: 200px;">
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white; border-left: 1px solid #CED4DA; border-top: 1px solid #CED4DA; ">React
                  Native</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">NodeJS</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>
                <a href="#" class="list-group-item list-group-item-action"
                  style="border-color: white;border-left: 1px solid #CED4DA">Taiwind</a>

                <a href="#" class="list-group-item list-group-item-action"
                  style="height: 50.5%; border-color: white;border-left: 1px solid #CED4DA; border-bottom: 1px solid #CED4DA;">Android
                  Studio</a>
              </div>

            </li>

          </ul>
          <ul class="dropdown-menu dropdown-submenu-second">
            <li>
              <a class="dropdown-item" href="#">Lập trình ứng dụng Web</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Lập trình ứng dụng di động</a>
            </li>

          </ul>

        </div>

      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0 d-flex" style="width: 800px;" method="get" action="/search">
    
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchInput"  aria-label="Search" style="width: 600px">
      <button class="btn btn-primary" type="submit" style="margin-left: 10px;"><i class="fa fa-search"></i></button>
    </form>
    <ul class="navbar-nav">

      {{#ifEquals this.auth false}}
      <li class="nav-item active" style="margin-right: 30px;" id = "btn">
        <a href="/user/login" class="btn btn-warning btn-cus" type="submit">Login</a>

      </li>
      <li class="nav-item active">
        <a href="/user/register" class="btn btn-warning" type="submit">Register</a>

      </li>
      {{else}}
    
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Welcome, <b style="font-family: Times New Roman;">{{userInfo.fullname}}</b>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/user/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            
             <a class="dropdown-item" href="/user/myCourse">
              <i class="fa-solid fa-bookmark" style="color : #146EBE;"></i>
              Watch Purchased Courses
            </a>
             <a class="dropdown-item" href="/user/myFavoriteList" style="position: relative;">
              <i class="fa-solid fa-heart" aria-hidden="true" style="color: red; left:22px; position:absolute; margin-top:2px;"></i>
               <span style="margin-left : 18px;">Watch Favorite Courses</span>
          
            </a>
             <a class="dropdown-item" href="/user/changePassword" style="position: relative;">
              <i class="fa fa-refresh fa-spin fa-3x fa-fw" style="font-size: 17px; left:18px; position:absolute;"></i>

              <span style="margin-left : 18px;">Change password</span>
            </a>
            <div class="dropdown-divider"></div>
            <form id="frmlogout" action="/user/logout" method="post"></form>
            <a class="dropdown-item" href="javascript: $('#frmlogout').submit()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </div>
        </li>
      {{/ifEquals}}



    </ul>
  </div>
</nav>
<style>
  .list-group-item {
    width: 100%;
  }

  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu .dropdown-submenu-second {
    display: none;
  }

  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -3px;
  }

  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }

  .IT-Menu:hover>.dropdown-submenu {
    display: block;
  }

  .show-list {
    top: -15px !important;
    display: none;
    position: absolute;
  }

  .show-list-mobile {
    top: -40px !important;
    display: none;
    position: absolute;
  }

  .hover-list:hover {
    background-color: red;
  }

  .hover-list-mobile:hover {
    background-color: blue;
  }

  .hover-list {
    position: relative;

  }

  .dropdown-menu-item:hover>.show-list {
    display: block !important;
    padding-top: 6px;
    width: 80%;
  }

  .dropdown-menu-item:hover>.show-list-mobile {
    display: block !important;
    top: 0;
    right: 0;
    width: 80%;

  }

  @media screen and (max-width: 1020px) {
    .form-control {
      width: 300px !important;
    }

    .small-form {
      width: 100px !important;
    }

    .IT-Menu:hover {
      display: block;
    }

    .btn-warning {
      background-color: white !important;
      border-color: white;
    }

    .dropdown-menu .dropdown-submenu {
      display: none;
      position: relative;
      top: -75px;
    }

    .IT-Menu:hover {
      height: 50px;
    }

    .menu-responsive {
      height: 82px;
    }

    .hidden-list {
      display: none !important;
    }
  }
</style>