<div class="content-body">
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      <strong>Error: {{error}}</strong>
    </div>
  {{/if}}
  <div class="container-fluid">
    <div class="row page-titles mx-0 d-flex justify-content-between align-items-center">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Chapter List</h4>
        </div>
      </div>
      <a href="" class="btn btn-primary" data-toggle="modal" data-target="#add-chapter">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Chapter
      </a>
    </div>

    <div class="row">
      <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4>Chapter Title</h4>
            <div class="list-group mb-3 list-group-flush">
              <video width="100%" height="100%" controls>
                <source src="https://www.youtube.com/watch?v=58xKTGxmeHI" type="video/*">
              </video>
            </div>
            <div class="d-flex justify-content-between">
              <a href="" class="btn btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Edit
              </a>
              <a href="" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Add Chapter -->

<div class="modal fade" id="add-chapter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="add-chapter-form" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="chapter-name" class="col-form-label">Title:</label>
            <input name="title" type="text" class="form-control" id="chapter-name" required>
            <label for="video-file" class="col-form-label">Video file:</label>
            <input name="recfile" type="file" id="video-file" class="form-control" accept="video/*" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-add-chapter" type="button" class="btn btn-primary">Add chapter</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var btnAddChapter = document.getElementById('btn-add-chapter');
    console.log(btnAddChapter);
    var addChapterForm = document.forms['add-chapter-form'];
    btnAddChapter.onclick = () => {
      addChapterForm.action = 'http://localhost:3000/video';
      addChapterForm.submit();
    }
  })
</script>